.tabsContent[data-state="active"] {
  border-radius: var(--border-radius);
  border: 1px solid var(--slate6);
  padding: var(--spacing10);

  @media (min-width: 27rem) {
    padding: var(--spacing15);
  }
}

.tabsRoot {
  margin-bottom: var(--spacing10);
}

.tabsList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing5);
  margin-bottom: var(--spacing5);
}

.tabsTrigger {
  border-radius: var(--border-radius);
  border: 1px solid var(--slate6);
  cursor: pointer;
  padding: var(--spacing5);

  &:focus {
    .tabsTriggerContentInner {
      outline: 1px dashed var(--slate11);
    }
  }

  &:focus-visible {
    .tabsTriggerContentInner {
      outline: 1px dashed var(--slate11);
    }
  }

  &[data-state="active"] {
    background-color: white;
  }

  &[data-state="inactive"] {
    background-color: var(--slate3);
  }
}
