.recipeSection + .recipeSection {
  margin-top: 1.25rem;
}

.skeletonGroup + .skeletonGroup {
  margin-top: 1.25rem;
}

.viewport {
  background-color: var(--slate3);
  min-height: calc(100vh - var(--navbar-height));
  padding-block: 1.25rem;
}
