@import "normalize.css/normalize.css";

// Colors
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/yellow.css";

:root {
  // Typography
  --font-family-sans: -apple-system, blinkmacsystemfont, "avenir next", avenir,
    "segoe ui", "helvetica neue", helvetica, cantarell, ubuntu, roboto, noto,
    arial, sans-serif;

  // Borders
  --border-radius: 4px;

  // Shadows
  --box-shadow-error: 0 4px 6px -1px rgb(255 248 248),
    0 2px 4px -2px rgb(255 248 248);
  --box-shadow-inset-error: inset 0 2px 8px var(--red3);
  --box-shadow-inset-light: inset 0 2px 8px var(--slate2);
  --box-shadow-inset: inset 0 2px 8px var(--slate3);
  --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);

  // Spacing
  --navbar-height: 50px;
  --spacing0: 0;
  --spacing1: 0.0625rem;
  --spacing2: 0.125rem;
  --spacing3: 0.1875rem;
  --spacing4: 0.25rem;
  --spacing5: 0.3125rem;
  --spacing10: 0.625rem;
  --spacing15: 0.9375rem;
  --spacing20: 1.25rem;
  --spacing25: 1.5625rem;
  --spacing30: 1.875rem;
  --spacing40: 2.5rem;
  --spacing50: 3.125rem;
  --spacing60: 3.75rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  &:focus {
    outline: 1px dashed var(--slate11);
  }

  &:focus-visible {
    outline: 1px dashed var(--slate11);
  }
}

body {
  color: var(--slate12);
  font-family: var(--font-family-sans);
  line-height: 1.25;
}

html {
  box-sizing: border-box;
}
