@import "normalize.css/normalize.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/slate.css";

:root {
  --border-radius: 4px;
  --box-shadow-error: 0 4px 6px -1px rgb(255, 248, 248),
    0 2px 4px -2px rgb(255, 248, 248);
  --box-shadow-inset-error: inset 0px 2px 8px var(--red3);
  --box-shadow-inset-light: inset 0px 2px 8px var(--slate2);
  --box-shadow-inset: inset 0px 2px 8px var(--slate3);
  --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Segoe UI", "Helvetica Neue", Helvetica, Cantarell, Ubuntu, Roboto, Noto,
    Arial, sans-serif;
  --navbar-height: 50px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--slate12);
  font-family: var(--font-family-sans);
  line-height: 1.25;
}

html {
  box-sizing: border-box;
}
