.error {
  background-color: var(--red3);
  border-left: 4px solid var(--red9);
  color: var(--red11);

  a {
    color: var(--red11);
  }

  button:hover {
    color: var(--red12);
  }
}

.info {
  background-color: var(--slate3);
  border-left: 4px solid var(--slate9);
  color: var(--slate11);

  a {
    color: var(--slate11);
  }

  button:hover {
    color: var(--slate12);
  }
}

.success {
  background-color: var(--grass3);
  border-left: 4px solid var(--grass9);
  color: var(--grass11);

  a {
    color: var(--grass11);
  }

  button:hover {
    color: var(--grass12);
  }
}

.warning {
  background-color: var(--yellow3);
  border-left: 4px solid var(--yellow9);
  color: var(--yellow11);

  a {
    color: var(--yellow11);
  }

  button:hover {
    color: var(--yellow12);
  }
}

.alert {
  border-radius: var(--border-radius);
  display: grid;
  gap: var(--spacing-10);
  grid-template-columns: 1fr min-content;
  padding: var(--spacing-15);

  a {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: var(--spacing-0);
}
