.blue.link,
.primary.link {
  color: var(--blue11);

  &:visited {
    color: var(--blue11);
  }

  &:hover,
  &:hover:visited {
    color: var(--blue12);
  }
}

.grass.link {
  color: var(--grass11);

  &:visited {
    color: var(--grass11);
  }

  &:hover,
  &:hover:visited {
    color: var(--grass12);
  }
}

.red.link {
  color: var(--red11);

  &:visited {
    color: var(--red11);
  }

  &:hover,
  &:hover:visited {
    color: var(--red12);
  }
}

.slate.link {
  color: var(--slate11);

  &:visited {
    color: var(--slate11);
  }

  &:hover,
  &:hover:visited {
    color: var(--slate12);
  }
}

.filled,
.light {
  display: inline-block;
  font-size: inherit;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.blue.filled,
.primary.filled {
  background-color: var(--blue9);
  border-radius: var(--border-radius);
  border: 1px solid var(--blue9);
  color: white;

  &:hover {
    background-color: var(--blue10);
    border: 1px solid var(--blue10);
    color: white;
  }

  &:active,
  &:active:hover {
    background-color: var(--blue11);
  }
}

.blue.light,
.primary.light {
  background-color: var(--blue3);
  border-radius: var(--border-radius);
  border: 1px solid var(--blue7);
  color: var(--blue11);

  &:hover {
    background-color: var(--blue4);
    border: 1px solid var(--blue8);
  }

  &:active,
  &:active:hover {
    background-color: var(--blue6);
  }
}
