.button {
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: 1.25;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

.blue,
.primary {
  &.filled {
    background-color: var(--blue9);
    border: 1px solid var(--blue9);
    color: white;

    &:active {
      background-color: var(--blue11);
    }

    &:disabled {
      background-color: var(--blue8);
      border: 1px solid var(--blue8);
    }

    &:hover {
      background-color: var(--blue10);
      border: 1px solid var(--blue10);
    }

    &:disabled:hover {
      background-color: var(--blue8);
      border: 1px solid var(--blue8);
    }

    &:active:hover {
      background-color: var(--blue11);
    }
  }

  &.light {
    background-color: var(--blue3);
    border: 1px solid var(--blue7);
    color: var(--blue11);

    &:active {
      background-color: var(--blue6);
    }

    &:disabled {
      background-color: var(--blue2);
      border: 1px solid var(--blue6);
      color: var(--blue8);
    }

    &:hover {
      background-color: var(--blue4);
      border: 1px solid var(--blue8);
    }

    &:active:hover {
      background-color: var(--blue6);
    }

    &:disabled:hover {
      background-color: var(--blue2);
      border: 1px solid var(--blue6);
      color: var(--blue8);
    }
  }
}

.red {
  &.filled {
    background-color: var(--red9);
    border: 1px solid var(--red9);
    color: white;

    &:active {
      background-color: var(--red11);
    }

    &:disabled {
      background-color: var(--red8);
      border: 1px solid var(--red8);
    }

    &:hover {
      background-color: var(--red10);
      border: 1px solid var(--red10);
    }

    &:disabled:hover {
      background-color: var(--red8);
      border: 1px solid var(--red8);
    }

    &:active:hover {
      background-color: var(--red11);
    }
  }

  &.light {
    background-color: var(--red3);
    border: 1px solid var(--red7);
    color: var(--red11);

    &:active {
      background-color: var(--red6);
    }

    &:disabled {
      background-color: var(--red2);
      border: 1px solid var(--red6);
      color: var(--red8);
    }

    &:hover {
      background-color: var(--red4);
      border: 1px solid var(--red8);
    }

    &:active:hover {
      background-color: var(--red6);
    }

    &:disabled:hover {
      background-color: var(--red2);
      border: 1px solid var(--red6);
      color: var(--red8);
    }
  }
}

.slate {
  &.filled {
    background-color: var(--slate9);
    border: 1px solid var(--slate9);
    color: white;

    &:active {
      background-color: var(--slate11);
    }

    &:disabled {
      background-color: var(--slate8);
      border: 1px solid var(--slate8);
    }

    &:hover {
      background-color: var(--slate10);
      border: 1px solid var(--slate10);
    }

    &:disabled:hover {
      background-color: var(--slate8);
      border: 1px solid var(--slate8);
    }

    &:active:hover {
      background-color: var(--slate11);
    }
  }

  &.light {
    background-color: var(--slate3);
    border: 1px solid var(--slate7);
    color: var(--slate11);

    &:active {
      background-color: var(--slate6);
    }

    &:disabled {
      background-color: var(--slate2);
      border: 1px solid var(--slate6);
      color: var(--slate8);
    }

    &:hover {
      background-color: var(--slate4);
      border: 1px solid var(--slate8);
    }

    &:active:hover {
      background-color: var(--slate6);
    }

    &:disabled:hover {
      background-color: var(--slate2);
      border: 1px solid var(--slate6);
      color: var(--slate8);
    }
  }
}

.unstyled {
  background-color: transparent;
  border-radius: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
