a.anchor {
  text-decoration: underline;
}

.errorSection + .errorSection {
  margin-top: var(--spacing10);
}

.content {
  padding-bottom: var(--spacing20);
}

.title {
  margin-top: var(--spacing0);
}
