a.anchor {
  text-decoration: underline;
}

.errorSection + .errorSection {
  margin-top: var(--spacing-10);
}

.content {
  padding-bottom: var(--spacing-20);
}

.title {
  margin-top: var(--spacing-0);
}
