.alert {
  margin-top: var(--spacing15);
}

.filteredNote {
  color: var(--slate9);
  font-weight: normal;
}

.pagination {
  margin-top: var(--spacing25);
}

.table {
  margin-top: var(--spacing10);
}
