.content {
  align-content: center;
  display: flex;
  justify-content: center;
  padding-block: var(--spacing15) var(--spacing30);
  text-align: center;
}

.viewport {
  align-content: center;
  background-color: var(--slate3);
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 35rem;
}
