.content {
  align-content: center;
  display: flex;
  justify-content: center;
  padding-block: var(--spacing-15) var(--spacing-30);
  text-align: center;
}

.viewport {
  align-content: center;
  background-color: var(--slate1);
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 35rem;
}
