a.button {
  font-size: 1.2rem;
  margin-top: var(--spacing25);
  width: 12.5rem;
}

h1.heading {
  color: var(--blue12);
  font-size: clamp(2rem, 7vw, 3rem);
  font-weight: bold;
  margin-block: var(--spacing0) var(--spacing15);
  text-shadow: 2px 2px 4px var(--slate8);
}

.subheading {
  color: var(--slate11);
  font-size: clamp(1.1rem, 4vw, 1.25rem);
  margin-top: var(--spacing15);
}

div.viewport {
  // TODO redo height after home page content is added:
  min-height: calc(100vh - var(--navbar-height));
  padding-block: 10vh 12vh;
}
