.button {
  color: var(--slate11);
  cursor: pointer;
  font-family: inherit;
  padding: var(--spacing5) var(--spacing10);

  &:hover {
    background-color: var(--slate3);
  }
}

.content {
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--slate6);
  box-shadow: var(--box-shadow);
  margin-right: var(--spacing15);
  min-width: 8rem;
  padding: var(--spacing10);

  @media (min-width: 27rem) {
    margin-right: var(--spacing25);
  }
}

.item {
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--slate11);
  cursor: pointer;
  display: flex;
  font-size: 0.85rem;
  height: 1.625rem;
  line-height: 1;
  outline: none;
  padding: var(--spacing15) var(--spacing10);
  user-select: none;

  &[data-highlighted] {
    background-color: var(--slate3);
  }
}

.separator {
  background-color: var(--slate6);
  height: 0.0625rem;
  margin: var(--spacing5);
}
