.content {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.viewport {
  background-color: var(--slate3);
  min-height: calc(100vh - var(--navbar-height));
  padding-block: var(--spacing10);

  @media (min-width: 27rem) {
    padding-block: var(--spacing15);
  }
}
