.content {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: var(--spacing-15);
  padding: var(--spacing-15);
  text-align: left;
}

.innerWrapper {
  margin: var(--spacing-15);
  max-width: 30rem;
  text-align: center;
  width: 100%;
}

a.slate.link {
  border-radius: var(--border-radius);
  color: var(--slate11);
  font-size: 1.5rem;
  font-weight: bold;
  padding: var(--spacing-5) var(--spacing-10);

  &:hover,
  &:hover:visited {
    background-color: var(--slate5);
    color: var(--slate12);
    text-decoration: none;
  }

  &:visited {
    color: var(--slate11);
  }
}

.wrapper {
  align-items: center;
  background-color: var(--slate3);
  display: inline-flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
