.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  gap: var(--spacing-5);
  list-style: none;
  margin: 0;
  padding: 0;
}

.listButton {
  padding: 0.25rem 0.5rem;
}

.listHellip {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}
