.rating {
  max-width: 7rem;
}

.ratingText {
  color: var(--slate9);
  font-size: 1rem;
  margin-top: -0.15rem;
}

.ratingWrapper {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  margin-top: var(--spacing15);
}
