.table {
  border-collapse: collapse;
  color: var(--slate11);
  width: 100%;

  tfoot {
    tr {
      border-top: 1px solid var(--slate7);

      th {
        font-weight: bold;
        padding: var(--spacing10);
        text-align: left;

        &:first-of-type {
          padding-left: var(--spacing0);
        }
      }
    }
  }

  thead {
    tr {
      border-bottom: 1px solid var(--slate7);

      th {
        font-weight: bold;
        padding: var(--spacing10);
        text-align: left;

        &:first-of-type {
          padding-left: var(--spacing0);
        }
      }
    }
  }

  tbody {
    tr {
      border-block: 1px solid var(--slate7);

      &:last-of-type {
        border-bottom: none;
      }

      td {
        padding: var(--spacing10);
        text-align: left;

        &:first-of-type {
          padding-left: var(--spacing0);
        }
      }
    }
  }

  &.striped {
    tfoot {
      tr {
        th {
          &:first-of-type {
            padding-left: var(--spacing10);
          }
        }
      }
    }

    thead {
      tr {
        th {
          &:first-of-type {
            padding-left: var(--spacing10);
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &:first-of-type {
            padding-left: var(--spacing10);
          }
        }

        &:nth-of-type(odd) {
          background-color: var(--slate3);
        }

        &:hover {
          background-color: var(--slate5);
        }
      }
    }
  }
}
