.noTagsMessage {
  color: var(--slate9);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing10);
  margin-top: var(--spacing15);
}

.tag {
  background-color: var(--slate3);
  border-radius: var(--border-radius);
  border: 1px solid var(--slate7);
  color: var(--slate11);
  font-size: 0.85rem;
  padding: var(--spacing5) var(--spacing10);
}

.tagFormWrapper {
  border-left: 1px solid var(--slate8);
  display: inline-block;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}
