.empty {
  color: var(--slate9);
}

.list {
  list-style-type: none;
  margin-bottom: 0;
  margin-inline: 0;
  margin-top: var(--spacing15);
  padding: 0;
}

.listItem + .listItem {
  margin-top: var(--spacing5);
}

.units {
  display: inline-flex;
  gap: 0.25rem;
}
